#label-search {
  .search-form-errors {
    margin: 0.5rem 0;
    display: none;
    &.show {
      display: block;
    }
    > span {
      display: inline-flex;
      color: rgba(204, 75, 55, 0.85);
      padding: 0 0.5rem;
      margin: 0 0.5rem;
      line-height: 2rem;
      margin-bottom: 4px;
      border: 1px solid rgba(204, 75, 55, 0.75);
      border-radius: 2px;
    }
  }
}

.labelSearch {

  .oj-label {
    display: inline-block;
  }
  input {
    &.invalid {
      background-color: #fef9e8;
      color: rgba(204,75,55,0.75);
      font-weight: bold;
    }
  }
}

.print-time-errors {
  margin: 0.5rem 0;
  display: none;
  &.show {
    display: block;
  }
  > span {
    display: inline-flex;
    color: rgba(204, 75, 55, 0.85);
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    line-height: 2rem;
    margin-bottom: 4px;
    border: 1px solid rgba(204, 75, 55, 0.75);
    border-radius: 2px;
  }
}

.search-results {

  margin: 0.5rem 0;

  .fa.fa-times-circle-o {
    float: right;
    cursor: pointer;
    color: rgba(204,75,55,0.75);
    &:hover {
      color: rgba(204,75,55,1);
    }
    transition: color 0.3s ease-in-out;
  }

  .oj-inputdatetime {
    &.invalid {
      input {
        background-color: #fef9e8;
        color: rgba(204,75,55,0.75);
        font-weight: bold;
      }
      span {
        &.oj-inputdatetime-input-trigger {
          background-color: #fef9e8;
        }
      }
    }
  }
  .oj-inputdatetime.invalid {
    input::-webkit-input-placeholder {
      color: rgba(204,75,55,0.75);
      font-weight: bold;
    }
  }
  .oj-inputdatetime.invalid {
    input::-moz-placeholder {
      color: rgba(204,75,55,0.75);
      font-weight: bold;
    }
  }
  .oj-inputdatetime.invalid {
    input:-ms-input-placeholder {
      color: rgba(204,75,55,0.75);
      font-weight: bold;
    }
  }
  .oj-inputdatetime.invalid {
    input:-moz-placeholder {
      color: rgba(204,75,55,0.75);
      font-weight: bold;
    }
  }

  #cOo {
    &.invalid {
      .oj-select-choice {
        background-color: #fef9e8;
      }
      span {
        &.oj-select-chosen {
          background-color: #fef9e8;
          color: rgba(204,75,55,0.75);
          font-weight: bold;
        }
      }
      select {
        background-color: #fef9e8;
        color: rgba(204,75,55,0.75);
        font-weight: bold;
      }
    }
  }

  input.expM {
    &.invalid {
      background-color: #fef9e8;
      color: rgba(204,75,55,0.75);
      font-weight: bold;
    }
  }

  input.expM.invalid::-webkit-input-placeholder {
    color: rgba(204,75,55,0.75);
    font-weight: bold;
  }
  input.expM.invalid::-moz-placeholder {
    color: rgba(204,75,55,0.75);
    font-weight: bold;
  }
  input.expM.invalid:-ms-input-placeholder {
    color: rgba(204,75,55,0.75);
    font-weight: bold;
  }
  input.expM.invalid:-moz-placeholder {
    color: rgba(204,75,55,0.75);
    font-weight: bold;
  }

  .oj-inputtext.oj-disabled {

    .oj-inputtext-input {

      background: #fcfdfe;

    }

  }

}

.labelResults {

  .oj-label, label {
    display: inline-block;
    min-width: 150px;
  }
  label {
    color: #666666;
  }

  div.msg {
    display: inline-block;
    > span {
      color: rgba(204, 75, 55, 0.85);
      padding: 0 0.5rem;
      margin: 0 0.5rem;
      line-height: 2rem;
      margin-bottom: 4px;
      border: 1px solid rgba(204, 75, 55, 0.75);
      border-radius: 2px;
    }
  }

  > div.oj-inputtext-label, > div.oj-inputtext {

  }

}

.search-results-table {
  margin: 0.5rem 0;
  background: #d3d3d6;

  .lsdr {
    span {
      &.label-data-cell {

        display: inline-block;
        padding: 0 0.5rem;
        background: #fcfdfe;
        min-width: 10rem;
        line-height: 2rem;
        margin-bottom: 4px;
        border-radius: 2px;
        border: 1px solid #efefef;


      }
    }
  }

  .oj-button {

    margin-left: 1rem;

    .oj-button-button {

      min-width: 100px;

    }

  }

  .oj-inputnumber {
    &.invalid {
      input {
        background-color: #fef9e8;
        color: rgba(204,75,55,0.75);
        font-weight: bold;
      }
    }
  }

  .printer {
    &.invalid {
      .oj-select-choice {
        background-color: #fef9e8;
      }
      span {
        &.oj-select-chosen {
          background-color: #fef9e8;
          color: rgba(204,75,55,0.75);
          font-weight: bold;
        }
      }
      select {
        background-color: #fef9e8;
        color: rgba(204,75,55,0.75);
        font-weight: bold;
      }
    }
  }

}