.messages {
  min-height: 35px;

  .message-container {
    width: 100%;
    padding: 0.625rem;
    p {
      margin: 0;
      width: 100%;
      color: inherit;
      span {
        display: inline-block;
      }
      .cancelMessage {
        color: inherit;
        float: right;
        margin-right: 1rem;
        cursor: pointer;
      }
    }
  }


  .oj-flex {
    transition: display 0.5s ease-in-out;
  }

  .success, .warn, .alert, .default {
    color: #efefef;
    font-weight: bold;
  }

  .success {
    background: rgba(58,219,118,0.75);
  }

  .alert {
    background: rgba(204,75,55,0.75);
  }

  .warn {
    background: rgba(255,174,0,0.75);
  }

  .default {
    background: rgba(153,153,153,0.6);
  }

}