.job-status-wrapper {
  h3 {
    i {
      display: inline-block;
      &.fa-refresh {
        margin-left: 2rem;
        color: rgba(58,219,118,0.75);
        cursor: pointer;
        &:hover {
          color: rgba(58,219,118,1);
        }
      }
    }
  }
  ul {
    &.job-status {
      list-style: none;
      padding: 0;
      li {
        .oj-panel {
          margin-bottom: 1rem;
          &.success {
            background-color: rgba(58,219,118,0.15);
          }
          &.failure {
            background-color: rgba(204,75,55,0.15);
          }
          p {
            font-size: 12px;
            margin: 0;
          }
        }
      }
    }
  }
}
