.pragmatyxs-icon:before {
  display: inline-block;
  content: "";
  background-image: url(images/pragmatyxscolorlogo.png);
  background-size: contain;
  height: 70px;
  width: 150px;
  overflow: auto;
}

.oj-web-applayout-header-title {
  display: inline-block;
  line-height: 1;
  margin-left: 1rem;
}

.oj-navigationlist-item-icon.fa {
  font-size: 24px;
}

.org-info {

  padding-left: calc(0.57143rem + 16px + 0.57143rem);
  padding-right: 1.75rem;
  line-height: 1.75;

}

pre {
  &.raw-data {
    font-size: 10px;
  }
}