<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
    <div class="oj-flex oj-sm-flex-direction-column">
        <div class="oj-panel oj-panel-alt2">
            <div class="oj-flex">
                <div class="oj-sm-12 oj-md-8">
                    <h3>User Profile (print context)</h3>
                    <ul data-bind="with: printContext">
                        <li>Print Operator: <span data-bind="text: printOperator"></span></li>
                        <li>userID: <span data-bind="text: userID"></span></li>
                        <li>Role: <span data-bind="text: role"></span></li>
                        <li>Originating Host: <span data-bind="text: originatingHost"></span></li>
                        <li>Site: <span data-bind="text: site"></span></li>
                        <li>Location: <span data-bind="text: location"></span></li>
                        <li>Application: <span data-bind="text: application"></span></li>
                        <li>Organization: <span data-bind="text: organization"></span></li>
                    </ul>
                </div>
                <div class="oj-sm-12 oj-md-4">
                    <h3>List of Available Printers:</h3>
                    <ul data-bind="foreach: printerList">
                        <li data-bind="text: $data"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>