<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">

    <div class="job-status-wrapper" data-bind="visible: jobStatusPopulated">
        <h3 class="bold">Job Status List <i class="fa fa-refresh" data-bind="click: getJobStatusList"></i></h3>
        <ul class="job-status oj-flex oj-flex-items-pad" data-bind="foreach: jobStatusListFormatted">
            <li class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item">
                <div class="oj-panel" data-bind="css: {success: $data.Status === 'PENDING' || $data.Status === 'PRINTED', failure: $data.Status === 'FAILURE'}">
                    <p>
                    <b>Label Type: <span data-bind="text: $data.LabelType"></span></b>
                    </p>
                    <p>
                    Product/Lot: <span data-bind="text: $data.Product"></span>/<span data-bind="text: $data.Lot"></span>
                    </p>
                    <p>
                    Printer: <span data-bind="text: $data.Printer"></span>
                    </p>
                    <p>
                    Quantity: <span data-bind="text: $data.Quantity"></span>
                    </p>
                    <p>
                    Date/Time: <span data-bind="text: $data.SubmitDate"></span>
                    </p>
                    <p>
                        Status: <span data-bind="text: $data.Status"></span>
                    </p>
                </div>
            </li>

        </ul>

    </div>
</div>
